In [16]:
import pandas as pd
import json

In [17]:
file = '/data/BADRI/IHTR/testset_small/telugu/labels.json'

with open(file) as json_file:
    data = json.load(json_file)

In [18]:
df = pd.DataFrame.from_dict(data, orient='index').reset_index()
df.columns = ['file','token']
df['token'] = ""

In [19]:
df

                         file token
0      375739_0_6_4yNWymd.jpg
1     375739_0_11_4V9IBBs.jpg
2     375739_0_12_9TDKjvx.jpg
3     375739_0_15_dcRbfKL.jpg
4     375739_0_23_hIH16QM.jpg
...                       ...   ...
4995  371436_0_30_JJBU2Kr.jpg
4996  371436_0_32_gqewQgc.jpg
4997   367324_0_1_4LLvDXr.jpg
4998   367324_0_2_P6qot8f.jpg
4999   367324_0_6_OZlrXUS.jpg

[5000 rows x 2 columns]

In [20]:
data = dict(zip(df.file, df.token))
with open(file, 'w', encoding='utf-8') as f:
    json.dump(data, f, ensure_ascii=False, indent=4)